.header-mypage{
  position: absolute;
  top: 30px;
  right: 0;
  width: 260px;
  box-shadow: 2px 2px 4px grey;
  z-index: 2;
  display: none;
  background-color: white;
  padding: 20px;
  .user-info{
    padding: 10px;
    margin: 0 auto;
    &__name{
      @include string_set(16px, bold, #888888);
      text-align: center;
    }
    &__data{
      display: flex;
      justify-content: center;
      @include string_set(14px, normal, #333333);
      margin: 8px;
      &__rate{
        margin: 8px;
      }
      &__sellitem-cnt{
        margin: 8px;
      }
    }
  }
  .user-sales{
    display: block;
    margin: 0 auto;
    padding: 16px 8px;
    border: 1px solid $dark-gray;
    background-color: $light_gray;
    @include flexbox_space-between;
    @include string_set(14px, normal, #333333);
    &:hover{
      opacity: 0.7;
    }
  }
}