.home{
  font-family: $main_font;
  .top-image{
    width: 100%;
    vertical-align: bottom;
  }
  .popular-category{
    @include height_width(200px, 100%);
    &__title{
      text-align: center;
      margin: 0 auto;
      line-height: 200px;
      @include string_set(28px, bold, black);
    }
  }
}