.signup-container
  .signup-main
    .signup-panel
      %h2.signup-panel__title 新規会員登録
      .signup-panel__insert
        .signup-btn
          = link_to "/signup/member_info", class: ".btn-default signup-btn--red" do
            %i.far.fa-envelope
              メールアドレスで登録する
          = link_to user_facebook_omniauth_authorize_path,class: ".btn-default signup-btn--facebook", method: :post do
            %i.fab.fa-facebook-square.facebook-icon
              FACEBOOKで登録する
          = link_to user_google_oauth2_omniauth_authorize_path,class: ".btn-default signup-btn--google", method: :post do
            %i.fab.fa-google.google-icon
              Googleで登録する

