.signup-container
  =render 'shared/sub-header'
  .signup-main
    .signup-panel
      %h2.signup-panel__title 新規会員登録
      .signup-panel__insert
        .signup-btn
          = link_to "/signup/member_info", class: ".btn-default signup-btn--red" do
            %i.far.fa-envelope
              メールアドレスで登録する
          %button#facebook.btn-default
            %i.fab.fa-facebook-square.facebook-icon
            Facebookで登録
          %button#Google.btn-default
            %i.fab.fa-google.google-icon
            Googleで登録
  =render 'shared/sub-header'