.done-container
  .done-main
    .done-panel
      .done-panel__title
        発送をお待ちください
      .done-panel__subtitle
        出品者からの発送通知をお待ちください
      .done-panel__insert
        .done-inner
          .done-form
            .done-text--center
              購入が完了しました。
          .done-form
            .done-btn
              = link_to root_path, class: ".btn-default done-btn--red" do
                マイページへ戻る