%footer.signup-footer
  %nav
    %ul.clearfix
      %li
        %a{:href => ""} プライバシーポリシー
      %li
        %a{:href => ""} メルカリ利用規約
      %li
        %a{:href => ""} 特定商取引に関する表記
  %a.signup-footer__logo{:href => ""}
    = image_tag("/logo_image/fmarket_logo_white2.svg")
  %p
    %small © 2019 Mercari