.item-container{
  width: 700px;
  margin: 0 auto;
  background-color: white;
  padding: 24px 0 40px 0;
  &__title{
    @include string_set(24px, bold, #333333);
    width: 90%;
    text-align: center;
    margin: 0 auto;
  }
  &__overview{
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    @include flexbox_space-between;
    &__left{
      &__main-image{
        @include height_width(300px, 300px);
        img{
          @include height_width(100%, 100%);
        }
      }
      &__sub-images{
        @include height_width(120px, 300px);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        img{
          @include height_width(60px, 60px);
        }
      }
    }
    &__right{
      width: 300px;
      .item-info{
        width: 300px;
        font-size: 14px;
        &__heading{
          @include height_width(23px, 115px);
          background-color: #FAFAFA;
          border: 1px solid #F5F5F5;
          padding: 8px;
        }
        &__data{
          @include height_width(23px ,calc(300px - 115px));
          border: 1px solid #F5F5F5;
          padding: 8px;
        }
      }
      .smile-wink-icon{
        color: magenta;
      }
      .meh-icon{
        color: orange;
      }
      .frown-icon{
        color: skyblue;
      }
    }
  }
  &__price{
    width: 90%;
    margin: 0 auto;
    margin-top: 24px;
    text-align: center;
    &__value{
      @include string_set(50px, bold, black);
    }
    &__tax{
      @include string_set(10px, normal, gray);
    }
    &__postage{
      @include string_set(16px, normal, gray);
    }
  }
  &__purchase-link{
    @include move_buy_view_link($main-color);
  }
  &__sold-out{
    @include move_buy_view_link(#888888);
  }
  &__explain{
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    @include string_set(18px, normal, rgb(69, 70, 71));
  }
  &__buttons{
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    background-color: white;
    &__likes{
      padding: 8px 16px;
      background-color: #F5F5F5;
      border-radius: 15px;
      @include string_set(14px, inherit, rgb(69, 70, 71));
      font-style: inherit;
      text-decoration: none;
    }
    &__inappropriate{
      padding: 8px 16px;
      background-color: #F5F5F5;
      border-radius: 15px;
      margin-left: 16px;
      @include string_set(14px, inherit, rgb(69, 70, 71));
      font-style: inherit;
      text-decoration: none;
    }
    &__peace{
      float: right;
      padding: 3px 0;
      font-size: 14px;
    }
  }
}