.item-own-show-page{
  @include height_width(100%, 100%);
  padding-top: 40px;
  background-color: rgb(245, 245, 245);
  font-family: $main_font;

  .operation-container{
    width: 700px;
    margin: 24px auto;
    background-color: white;
    padding: 8px 16px;
    box-sizing: border-box;
    .edit-btn{
      @include string_set(14px, normal, #FFFFFF);
      display: block;
      margin: 16px 0;
      padding: 16px;
      text-align: center;
      background-color: $main_color;
    }
    .delete-btn{
      @include string_set(14px, normal, #FFFFFF);
      display: block;
      margin: 16px 0;
      padding: 16px;
      text-align: center;
      background-color: #AAAAAA;
    }
  }
}