
/*必須*/ 
.require{
  @include require_set;
  background-color: #ea352d;
}

/*任意*/ 
.arbitrary{
  @include require_set;
  background-color: #AAAAAA;
}

.img-hidden{
  display: none;
}

.blue-link{
  color: #0099E8;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
    opacity: 0.7;
  }
}

.text-center{
  text-align: center;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.select-box{
  @include pull_down(100%);
  margin-top: 8px;
}

.day, .month, .year {
  @include height_width(48px, 43%);
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  display: inline-block;
}