/********************************************/
/* 変数定義ファイル                            */
/********************************************/

/************************/
/* 色関連変数            */
/************************/
$main_color: rgb(247, 10, 10);

$link_color: rgb(38, 173, 167);

$main_back_color: rgb(245, 245, 245);