.comment-container
  = form_with url: root_path, class: "comment-container__form" do |f|
    %p.comment-container__form__caution
      相手のことを考え丁寧なコメントを心がけましょう。
      不快な言葉遣いなどは利用制限や退会処分となることがあります。
    = f.text_area :text_area, class: "comment-container__form__input", placeholder: "現在コメント機能は実装されていません"
    = f.submit "コメントする", class: "comment-container__form__submit"