.done-container
  .done-main
    .done-panel
      .done-panel__title
        出品が完了しました
      .done-panel__insert
        .done-inner
          .done-form
            .done-text--center
              商品の出品が完了しました。
              %br
              出品いただいた商品は「出品した商品」からご確認いただけます
          .done-form
            .done-btn
              = link_to users_path, class: ".btn-default done-btn--red" do
                マイページへ戻る