.item-own-show-page
  = render "item", { item: @item }
  .operation-container
    = link_to "#" do
      .edit-btn
        編集する
    %p.text-center
      or
    = link_to "削除する", item_path(@item), method: :delete, data: { confirm: '削除しますか？' }, class: "delete-btn"
  = render 'comment'