.l-container{
  width: 1020px;
  margin: 40px auto 0;
  background-color: #eeeeee;

  .l-content{
    width: 700px;
    float: right;

    .profile{

      &__head{
        font-size: 24px;
        padding: 8px 24px;
        text-align: center;
        border-bottom: 1px solid #f5f5f5;
        line-height: 1.4;
        background-color: #fff;
      }

      form{
        .setting-profile-icon{
          padding: 72px 16px 24px;
          background-repeat: no-repeat;
          background-size: cover;
          font-size: 0;
          color: #333;
          text-align: center;
          background-color: #fff;

          figure{
            display: inline-block;
            overflow: hidden;
            @include height_width(60px, 60px);
            border-radius: 50%;
            vertical-align: middle;
            background-color: red;
            margin: 0;
            
            img{
              vertical-align: middle;
            }
          }
          .input-default{
            @include height_width(48px, 220px);
            margin: 0 0 0 8px;
            vertical-align: middle;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid $dark_gray;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
            box-sizing: border-box;
            @include placeholder(#000);

            input{
              outline: 0;
              font-family: inherit;
            }
          }
        }

        .setting-profile-content{
          padding: 40px 16px;
          background-color: #fff;
          

          .textarea-default{
            min-height: 216px;
            display: block;
            width: 100%;
            max-width: 100%;
            padding: 10px;
            border: 1px solid $dark_gray;
            background: #fff;
            font-size: 16px;
            line-height: 1.5;
            box-sizing: border-box;

            &:focus{
              outline: none;
              border: 1px solid $link_color;
            }
              
          }
          .btn-default {
            margin: 16px 0 0;
            display: block;
            width: 100%;
            line-height: 48px;
            font-size: 14px;
            transition: all ease-out .3s;
            cursor: pointer;
            text-align: center;
            background: $main_color;
            border: 1px solid $main_color;
            color: #fff;

            &:focus{
              outline: none;
            }

            button {
              min-height: 1.5em;
              
            }
          }
        }
      }
    }
  }
}