.user-logout-top {
  width: 100%;
  background-color: $normal_gray;
  padding: 40px 0;
  font-family: $main_font;

  .l-container {
    width: 1020px;
    margin: 0 auto;

    .l-content {
      width: 700px;
      float: right;
      background-color: #fff;

      .logout {
        padding: 64px;
        border-top: 1px solid #f5f5f5;

        .logout-btn {
          max-width: 320px;
          background: $main_color;
          border: 1px solid $main_color;
          color: #fff;
          display: block;
          width: 100%;
          line-height: 48px;
          font-size: 14px;
          margin: 0 auto;
          text-align: center;
        }
      }
    }
  }
}