.user-notices-todoes-page{
  @include height_width(100%, 100%);
  background-color: $main_back_color;
  padding-top: 40px;
  .inner-container{
    width: 1020px;
    margin: 0 auto;
    font-family: $main-font;
    @include flexbox_space-between;
    .notice-todo{
      @include height_width(100%, 700px);
      &__tabs{
        display: flex;
        text-align: center;
        &__tab{
          display: block;
          width: 50%;
          line-height: 72px;
          background-color: #EEE;
          @include string-set(16ox, bold, #333333);
          &:hover{
            color: #888888;
          }
        }
        .active{
          border-top: 2px solid $main-color;
          background-color: #FFF;
        }
      }
      .active-lists{
        display: block;
        background-color: #FFF;
      }
      &__lists{
        display: none;
      }
    }
  }
}