.user-sold-score-top {
  width: 100%;
  background-color: $normal_gray;
  padding: 40px 0;
  font-family: $main_font;

  .l-container {
    width: 1020px;
    margin: 0 auto;

    .l-content {
      width: 700px;
      float: right;
      background-color: #fff;

      .sold-box {
        &__title {
          font-size: 24px;
          padding: 8px 24px;
          text-align: center;
          border-bottom: 1px solid #f5f5f5;
          line-height: 1.4;
        }
        &__list {
          li {
            border-top: 1px solid #eee;
            .sold-score{
              position: relative;
              display: block;
              padding: 16px;
              background: #fff;
              font-size: 14px;
              color: black;

              &__left {
                float: left;
              }
              &__right {
                float: right;
              }
            }
            .sold-history {
              position: relative;
              display: block;
              padding: 16px;
              background: #fff;
              font-size: 14px;
              color: #333;

              &__icon {
                position: absolute;
                top: 50%;
                right: 16px;
                color: #ccc;
                -webkit-transform: translate(0, -50%);
                transform: translate(0, -50%);
                -webkit-transition: all ease-out .2s;
                transition: all ease-out .2s;
                font-size: 18px;
              }

            }

          }
        }
      }
    }
  }
}