.l-container {
  width: 1020px;
  margin: 40px auto 0;

  .l-content {
    width: 700px;
    float: right;

    .l-chapter{
      &__head{
        text-align: center;
        font-size: 24px;
        padding: 8px 24px;
        border-bottom: 2px solid;
        line-height: 1.4;
      }
    }
  }

    .l-single-inner{
      padding: 64px;

        .l-single-content{
          max-width: 320px;
          margin: 0 auto;
        }

          .l-chapter-sub-head{
            font-size: 16px;
          }

        .settings-pay-list{
          padding: 24px 0;
          border-bottom: 1px solid;

          .form{
            max-width: 320px;
            margin: 0 auto;
            position: relative;
          }

            .settings-card-num{
              font-size: 16px;
              margin: 8px 0;
            }

            .settings-card-limit{
              font-size: 16px;
              margin: 8px 0;
            }

            .settings-card-delete{
              position: absolute;
              top: 0;
              right: 0;
              padding: 4px 6px;
              border-radius: 3px;
              border: 1px solid #ea352d;
              color: #ea352d;
              cursor: pointer;
            }
        }
    }

        .settings-pay-about{

          &__link{
            color: #ea352d;
            display: block;
            margin: 40px 0;
            text-align: right;
            text-decoration: none;
            color: #009ee8;
          }
        }
}